<%-include("partials/header")-%>
<div class="about-parent">
    <div class="about-child">
        
    </div>
    <div class="about-child">
        <h2>ABOUT</h2>
        <p>Welcome to about page ,you know here about our basic functionality of daily diary application.</p>
        <ul>
            <li>Share your daily routine safely</li>
            <li>Share your thoughts safely</li>
            <li>Share your innersoul safely</li>
            <li>Share your achievements safely</li>
            <li>Safe collection of your compose page</li>
        </ul>       
    </div>

</div>

<%-include("partials/footer")-%>