<%-include("partials/header")-%>


    <div class="contact-parent">
        
        <div class="contactchild1">
         <div class="contactlinks">

            <h2  class="icons"><a href="  https://www.instagram.com/palakjaiswal1041/"><i class="fa-brands fa-instagram"></i></a></h2>
            <h2 class="icons"> <a href="https://www.linkedin.com/in/palak-jaiswal-121557254/"><i class="fa-brands fa-linkedin-in"></i></a></h2>
            <h2 class="icons"> <a href="https://twitter.com/palakja81325436"><i class="fa-brands fa-twitter"></i></a></h2>
            <h2 class="icons"><a href="http://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a></h2>
            <h2 class="icons"><a href="mailto:palakjaiswalch28@gmail.com"><i class="fa-solid fa-envelope"></i></a></h2>
          
         </div>
        </div>
        <div class="contactchild2">
            <h2>CONTACT</h2>
            <div class="contactinfo"></div>
            <p> Welcome to Daily Diary contact page,here you can contact if you have any issues regarding functionality of this website.
                We will glad if you share some improvements regarding this website.
            </p>
        </div>
        </div>

    </div>
  


<%-include("partials/footer")-%>