<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Diary</title>
    <link rel="stylesheet" href="/style.css">
   
</head>
<body>
    <div class="login-parent">

        <div class="login-child">
            <h2 class="login-head">Login</h2>
            <form action="/homepage" method="post">
                <div class="input-form">
                    <input type="email" name="email" placeholder="Enter your username" required>
                    <input type="password" name="password"placeholder="Enter your password" required>

                </div>
               
                <div class="btn-class">
                    <button class="btn-login" >LOGIN</button>
                    <a href="register" class="btn-reg"role="button">Register</a>
                   
                </div>
               
                  
        </div>
    </div>
    
</body>
</html